@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

:root{
   --black: #2C2B30;
   --light-gray: #4F4F51;
   --white: #D6D6D6;
   --light-pink: #F2C4CE;
   --pink: #F58F7C;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    position: absolute;
    overflow: hidden;
}

header{
    height:10%;
    background-color: var(--black);
}
.active{
    background: var(--pink);
    border-radius: 3px;
    
}
.active a{
    color: var(--black);
}
.navbar-page {
    height: 10%;
    width: 100%;
    position: fixed;
    display: inline-block; 
  }
.logo {
    height: auto;
    width: 50px;
    margin-right: 100px;
    float:left;
    position: relative;
    display: inline;

}
.left-side-navbar{
    height:100%;
    float:left;
    margin-left: 1%;
    position: relative;
    display: flex;
    align-items: center;

}
.navbar-buttons{
    float:left;
    position: relative;
    display: inline;
}
.profile-navbar{
    height: 100%;
    float: right;
    margin-right: 3%;
    display: flex;
    position: relative;
    align-items: center;

 }

 .profile-navbar a {

    display: inline-block;
    color: #f2c4ce;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
  }
 
  .navbar-buttons a {

    display: inline-block;
    color: #f2c4ce;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
  }
 .sub-menu{
     display:none;
 }
 .profile-navbar:hover .sub-menu{
     display:block;
     position: absolute;
     background: var(--black);
     margin-top: 320%;
     margin-left: -15px;
     border-radius: 3px;

 }
 .profile-navbar:hover .sub-menu a{
        display:block;
        margin: 10px;
}

.navbar-buttons a:hover, .profile-navbar a:hover{
    background: var(--pink);
    border-radius: 3px;
}
  .one-scroll{
    overflow-y: scroll;
    width: 100%;
    height: 90%;
  }
  main{
      width: 100%;
      height: auto;
        
  }
 
.main-presenting{
    width: 100%;
    height: 630px;
    background-color: #4f4f51;
}
.block1{
    width: 100%;
    height: 430px;
    background-color: #4f4f51;
}
.block2{
    width: 100%;
    height: 630px;
    background-color: #4f4f51;
}
.block3{
    width: 100%;
    height: 630px;
    background-color: #4f4f51;
}
.block4{
    width: 100%;
    height: 630px;
    background-color: #4f4f51;
}
.space-between{
    width: 100%;
    height: 150px;
    background-color: #f58f7c;
}


.logo {
    height: auto;
    width: 50px;
    margin-right: 100px;
    float:left;
    position: relative;
    display: inline;

}




.footer{
    padding: 70px 0;
    background-color: var(--black);
}

.conatiner{
    max-width: 1170px;
    margin:auto;
}
 
ul{
    list-style: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 35%;
    padding: 0px 15px;
}
.footer h3{
    font-size: 18px;
    color: var(--light-pink);
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer h3::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 2px;
    box-sizing: border-box;
    width: 50px ;
    background-color: var(--pink);
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col a img{
    margin-top: -50px;
    margin-bottom: 15px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: var(--light-pink);
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: var(--light-pink);
    padding-left: 8px;
}
.footer ul li a i{
    height: 30px;
    width: 30px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer ul li a i:hover{
    color: #242628;
    background-color: #ffffff;

}
.footer-copyright{
    margin-top: 30px;
    padding: 0 15px;    
}
.footer-copyright span{
    color:#ffffff;
    font-size: 12px;
    font-weight: 300;
}

/*responsive*/

@media(max-width: 520px){
    .footer-col{
        width: 100%;
    }
}


