<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn module</title>
    <link rel="stylesheet" href="./learn.css">
    <link rel="stylesheet" href="../Navbar&footer/header.css">
    <link rel="stylesheet" href="../Navbar&footer/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body >

    <header class="header" onload="user_populate()">
        <div class="nav-container">
            <div class="nav-row">
                <div class="nav-start">
                    <div class="logo">
                        <img src="../resources/logo.svg"  alt="Logo">
                    </div>
                </div>
                <button type="button" class="nav-toggler active">
                    <span></span>
                </button>
                <div class="nav-right open" style="max-height: fit-content;">
                    <div class="nav-center">
                        <ul>
                            <li><a href="../Learn&Practice-pages/learn.html" class="active" > Learn </a></li>
                            <li><a href="../Learn&Practice-pages/practice.html"> Practice </a></li>
                            <li><a href="../Level-Map/map.html"> Play </a></li>
                            <li><a href="../leaderboard/leaderboard.html"> Leaderboard </a></li>
                        </ul>
                    </div>
                    <div class="nav-end" id="navend">
                        <a id="menu-btn" >
                            Username
                        </a>
                        <button type="button" class="nav-toggler-submenu active">
                            <span></span>
                        </button>
                        <div class="sub-menu open" id="submenu" style="max-height: fit-content;">
                            <ul>
                                <li><a id="exp"> Experience </a></li>
                                <li><a id="coins"> Coins </a></li>
                                <li><a href="../presenting-page/presenting_page.html" id="logout.btn"> Log out </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="scroll">
    <main>
        <section class="glass">
            <div class="content">
                <header class="intro-page">
                    <h1 class="title-page">Start learning HTML & CSS!</h1>
                </header>

                <h2 class="title-levels">HTML & CSS for beginners</h2>


                <input class="title" id="toggle" type="checkbox"><label class="highlight" for="toggle">What is HTML?
        
                </label>

                <div class="card" id="slider">
                    <p> HTML is the language in which most websites are written. HTML is used to create pages and make them functional. The code used to make them visually appealing is known as CSS.
                    </p>

                </div>


                <input class="title" id="toggle2" type="checkbox"><label class="highlight" for="toggle2">What does HTML stand for?</label>
                <div class="card" id="slider2">
                    <p>It stands for Hyper Text Markup Language.</p>
                    <p> Hypertext means that the document contains links that allow the reader to jump to other places in the document or to another document altogether. The latest version is known as HTML5.</p>
                    <p>A Markup Language is a way that computers speak to each other to control how text is processed and presented. To do this HTML uses two things: tags and attributes.</p>
                </div>


                <input class="title" id="toggle3" type="checkbox"><label class="highlight" for="toggle3">What are Tags and Attributes?</label>
                <div class="card" id="slider3">
                    <p> Tags and attributes are the basis of HTML. They work together but perform different functions.
                        <p>Tags are used to mark up the start of an HTML element and they are usually enclosed in angle brackets.</p>
                        <p> An example of a tag is: <code>&lt;h1&gt;</code>. Most tags must be opened <code>&lt;h1&gt;</code> and closed <code>&lt;/h1&gt;</code> in order to function.</p>
                        <p>Attributes contain additional pieces of information.</p>
                        <p>Attributes take the form of an opening tag and additional info is placed inside. An example of an attribute is:</p>
                        <div style="padding-left: 2em">
                            <code>&lt;img src="mydog.jpg" alt="A photo of my dog."&gt;</code>
                        </div>
                        <p>In this instance, the image source (src) and the alt text (alt) are attributes of the <code> &lt;img&gt; </code> tag.</p>
                </div>

                <input class="title" id="toggle4" type="checkbox"><label class="highlight" for="toggle4">More things about tags</label>
                <div class="card" id="slider4">
                    <p>The vast majority of tags must be opened (<code>&lt;tag&gt;</code>) and closed (<code>&lt;/tag&gt;</code>) with the element information such as a title or text resting between the tags.
                    </p>
                    <p>When using multiple tags, the tags must be closed in the order in which they were opened.</p>
                    <p>For example: <span style="margin-left: 0em"><code>&lt;strong&gt;&lt;em&gt;This is really important!&lt;/em&gt;&lt;/strong&gt;</code></span></p>

                </div>

                <input class="title" id="toggle5" type="checkbox"><label class="highlight" for="toggle5">Basic construction of an HTML page</label>
                <div class="card" id="slider5">
                    <p>These tags should be placed underneath each other at the top of every HTML page that you create.</p>
                    <div style="padding-left: 2em">
                        <p><code>&lt;!DOCTYPE html&gt;</code> — This tag specifies the language you will write on the page. In this case, the language is HTML 5.</p>
                        <p><code>&lt;html&gt;</code> — This tag signals that from here on we are going to write in HTML code.</p>
                        <p><code>&lt;head&gt;</code> — This is where all the metadata for the page goes — stuff mostly meant for search engines and other computer programs.</p>
                        <p><code>&lt;body&gt;</code> — This is where the content of the page goes.</p>
                    </div>


                </div>

                <input class="title" id="toggle6" type="checkbox"><label class="highlight" for="toggle6">Other important tags</label>
                <div class="card" id="slider6">
                    <p>Inside the <code>&lt;head&gt;</code> tag, there is one tag that is always included: <code>&lt;title&gt;</code>, but there are others that are just as important:

                        <br><br> <code>&lt;title&gt;</code><br><br> This is where we <strong>insert the page name</strong> as it will appear at the top of the browser window or tab.
                        <br><br> <code>&lt;meta&gt;</code><br><br> This is where information about the document is stored: character encoding, name (page context), description.

                    </p>
                    <p>Here is an example with meta tag:</p>
                    <img src="learn2.png" alt="Example with meta tag" class="image">


                </div>



                <input class="title" id="toggle7" type="checkbox"><label class="highlight" for="toggle7">Adding Content</label>
                <div class="card" id="slider7">
                    <p>The HTML <code>&lt;body&gt;</code> is where we add the content which is designed for viewing by human eyes.</p>
                    <p>This includes <strong>text, images, tables, forms </strong>and everything else that we see on the internet each day.</p>
                    <p>In HTML, headings are written in the following elements:

                        <br>
                        <code>&lt;h1&gt;</code>

                        <code>&lt;h2&gt;</code>

                        <code>&lt;h3&gt;</code>

                        <code>&lt;h4&gt;</code>

                        <code>&lt;h5&gt;</code>

                        <code>&lt;h6&gt;</code>

                    </p>
                    <p>It's clear that <code>&lt;h1&gt;</code> and <code>&lt;h2&gt;</code> should be used for the most important titles, while the remaining tags should be used for sub-headings and less important text.</p>

                    <p>Here is an example, in the next section we'll explain what the p tag is for:</p>
                    <img src="learn1.png" alt="Example with h1, h2 and p" class="image">

                </div>


                <input class="title" id="toggle8" type="checkbox"><label class="highlight" for="toggle8">Intro to CSS</label>
                <div class="card" id="slider8">
                    <p>A CSS comprises of style rules that are interpreted by the browser and then applied to the corresponding elements in your document. A style rule is made of three parts:</p>
                    <ul class="list">
                        <li>
                            <p><b>Selector</b> − A selector is an HTML tag at which a style will be applied. This could be any tag like &lt;h1&gt; or &lt;table&gt; etc.</p>
                        </li>
                        <li>
                            <p><b>Property</b> − A property is a type of attribute of HTML tag. Put simply, all the HTML attributes are converted into CSS properties. They could be <i>color</i>, <i>border</i> etc.</p>
                        </li>
                        <li>
                            <p><b>Value</b> − Values are assigned to properties. For example, <i>color</i> property can have value either <i>red</i> or <i>#F1F1F1</i> etc.</p>
                        </li>
                    </ul>
                    <p>You can put CSS Style Rule Syntax as follows −</p>
                    <pre class="code-visualizer">selector { property: value }
                    </pre>
                    <img src="csslearn.png" alt="CSS syntax example" class="image">
                </div>


                <h2 class="title-levels">HTML & CSS for intermediates</h2>

                <input class="title" id="toggle9" type="checkbox"><label class="highlight" for="toggle9">Adding text in HTML</label>
                <div class="card" id="slider9">
                    <p>Adding text to our HTML page is simple using an element opened with the tag <code>&lt;p&gt;</code> which creates a new paragraph. We place all of our regular text inside this element.</p>

                </div>



                <input class="title" id="toggle10" type="checkbox"><label class="highlight" for="toggle10">How to add links in HTML</label>
                <div class="card" id="slider10">
                    <p>Links are included in an attribute opened by the &lt; a&gt; tag. This element is the first that we’ve met which uses an attribute and so it <strong>looks different to previously mentioned tags</strong>.</p>
                    <p>The &lt;a&gt; (or anchor) opening tag is written in the format:</p>
                    <div style="padding-left: 0em">
                        <p><code>&lt; a href="https://learnhtmlcss.com/how-to-use-tags/"&gt;Your Link Text Here &lt;/a&gt;</code></p>
                    </div>
                    <p>The <strong>first part</strong> of the attribute <strong>points to the page that will open</strong> once the link is clicked.</p>
                    <p>Meanwhile, the <strong>second part</strong> of the attribute contains the <strong>text which will be displayed</strong> to a visitor in order to entice them to click on that link.</p>
                </div>


                <input class="title" id="toggle11" type="checkbox"><label class="highlight" for="toggle11">Adding an image in HTML</label>
                <div class="card" id="slider11">
                    <p> The<strong>&lt;img&gt;</strong> tag has everything you need to display images on your site. Much like the &lt;a&gt; anchor element, &lt;img&gt; also contains an attribute.</p>
                    <p>The attribute <em>features information</em> for your computer regarding the <strong>source</strong>, <strong>height</strong>, <strong>width</strong> and <strong>alt text</strong> of the image.</p>
                    <p>Alt text is important to <strong>ensure that your site is ranked correctly</strong> on search sites and also for visually impaired visitors to your site.</p>
                </div>

                <input class="title" id="toggle12" type="checkbox"><label class="highlight" for="toggle12">Examples of selectors</label>
                <div class="card" id="slider12">
                    <p>The type selectors
                        <br><br>You can define a table border as follows: </p>
                    <pre class="code-visualizer">table{ border :1px solid #C00; }
                    </pre>
                    <p>Here table is a selector and border is a property and given value 1px solid #C00 is the value of that property.</p>
                    <p>The universal selectors</p>
                    <p>Rather than selecting elements of a specific type, the universal selector quite simply matches the name of any element type:</p>
                    <pre class="code-visualizer">* { color: #000000; }
                    </pre>
                    <p>The descendant selectors

                        <br><br>Suppose you want to apply a style rule to a particular element only when it lies inside a particular element. As given in the following example, style rule will apply to &lt;em&gt; element only when it lies inside &lt;ul&gt;
                        tag.
                    </p>

                    <pre class="code-visualizer">ul em { color: #000000; }
                    </pre>

                    <p></p>



                </div>


                <h2 class="title-levels">HTML & CSS for experts</h2>

                <input class="title" id="toggle13" type="checkbox"><label class="highlight" for="toggle13">Adding a list in HTML</label>
                <div class="card" id="slider13">

                    <p>In web design, there are <strong>3 different types of lists</strong> which you may wish to add to your site: <br><br>unordered list — used to group a set of related items in no particular order<br><br> ordered list — used to group
                        a set of related items in a specific order<br><br> description list — used to display name/value pairs such as terms and definitions</p>

                </div>



                <input class="title" id="toggle14" type="checkbox"><label class="highlight" for="toggle14">More CSS selectors</label>
                <div class="card" id="slider14">
                    <p>
                        The Class Selectors <br><br>You can define style rules based on the class attribute of the elements. All the elements having that class will be formatted according to the defined rule.
                    </p>
                    <pre class="code-visualizer">
                    .black {
                        color: #000000; 
                     }
                </pre>
                    <p>This rule renders the content in black for every element with class attribute set to black in our document. You can make it a bit more particular. For example:</p>
                    <pre class="code-visualizer">
                    h1.black {
                        color: #000000; 
                     }
                </pre>
                    <p>This rule renders the content in black for only h1 elements with class attribute set to black.</p>
                    <p>The ID Selectors<br><br> You can define style rules based on the id attribute of the elements. All the elements having that id will be formatted according to the defined rule.</p>
                    <pre class="code-visualizer">
                   #black {
                    color: #000000; 
                 }
                </pre>
                </div>

            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="conatiner">
            <div class="row">
                <div class="footer-col">
                    <a class="logo" >
                        <img src="../resources/logo.svg" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="row">    
                <div class="footer-col">
                    <h3> Support </h3>
                    <ul>
                        <li><a  href="../Footer-pages/FAQ.html" id="questions-btn" > FAQ </a></li>                         
                        <li> <a href="../Footer-pages/FAQ.html" id="about-btn"> About us </a></li>  
                        <li><a  href="../raport.html" id="report-btn" > Report </a></li>                                                                                                                            
                        <li> <a  href="../Footer-pages/privacy.html" id="privacy-btn"> Privacy policy </a></li>                        
                        <li><a  href="../Footer-pages/terms.html" id="terms-btn"> Terms of Service </a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h3> Follow </h3>
                        <ul>
                            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i> Facebook </a></li>
                            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> Instagram </a></li>
                            <li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i> Youtube </a></li>
                        </ul>    
                </div>
            </div>
            <div class="row">
                <div class="footer-copyright">
                    <span> © 2021 LeHS. All rights reserved. </span>
                </div>
            </div>
        </div>                
    </footer>
    </div>
    <script src="../Navbar&footer/script.js"></script>
    <script src="../user.js"></script>
    
</body>

</html>