<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice module</title>
    <link rel="stylesheet" href="./practice.css">
    <link rel="stylesheet" href="../Navbar&footer/header.css">
    <link rel="stylesheet" href="../Navbar&footer/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body onload="populate()" >
    <header class="header" onload="user_populate()">
        <div class="nav-container">
            <div class="nav-row">
                <div class="nav-start">
                    <div class="logo">
                        <img src="../resources/logo.svg" alt="Logo">
                    </div>
                </div>
                <button type="button" class="nav-toggler active">
                    <span></span>
                </button>
                <div class="nav-right open" style="max-height: fit-content;">
                    <div class="nav-center">
                        <ul>
                            <li><a href="../Learn&Practice-pages/learn.html"> Learn </a></li>
                            <li><a href="../Learn&Practice-pages/practice.html" class="active"> Practice </a></li>
                            <li><a href="../Level-Map/map.html"> Play </a></li>
                            <li><a href="../leaderboard/leaderboard.html"> Leaderboard </a></li>
                        </ul>
                    </div>
                    <div class="nav-end" id="navend">
                        <a id="menu-btn">
                            Username
                        </a>
                        <button type="button" class="nav-toggler-submenu active">
                            <span></span>
                        </button>
                        <div class="sub-menu open" id="submenu" style="max-height: fit-content;">
                            <ul>
                                <li><a id="exp"> Experience </a></li>
                                <li><a id="coins"> Coins </a></li>
                                <li><a href="../presenting-page/presenting_page.html" id="logout.btn"> Log out </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="scroll">
        <main>

            <section class="glass">
                <div class="content">
                    <header class="intro-page">
                        <h1 class="title-page">Practice what you have learned with some exercises!</h1>
                    </header>

                    <h2 class="title-levels">HTML & CSS exercises for beginners</h2>

                    <input class="title" id="toggle" type="checkbox">
                    <label class="highlight" id="question1" for="toggle"></label>

                    <div class="card" id="slider">

                        <div>
                            <input type="radio" name="question-1-answers" id="question-1-answers-A" value="A">
                            <label for="question-1-answers-A" id="1A"> </label>
                        </div>
                        <div>
                            <input type="radio" name="question-1-answers" id="question-1-answers-B" value="B">
                            <label for="question-1-answers-B" id="1B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-1-answers" id="question-1-answers-C" value="C">
                            <label for="question-1-answers-C" id="1C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-1-answers" id="question-1-answers-D" value="D">
                            <label for="question-1-answers-D" id="1D"></label>
                        </div>

                        <button type="button" id="submit-question-1" onclick="submitAnswer(1,'question-1-answers')">Submit</button>

                    </div>


                    <input class="title" id="toggle2" type="checkbox"><label id="question2" class="highlight" for="toggle2">

                    </label>

                    <div class="card" id="slider2">

                        <div>
                            <input type="radio" name="question-2-answers" id="question-2-answers-A" value="A">
                            <label id="2A" for="question-2-answers-A"> </label>
                        </div>
                        <div>
                            <input type="radio" name="question-2-answers" id="question-2-answers-B" value="B">
                            <label id="2B" for="question-2-answers-B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-2-answers" id="question-2-answers-C" value="C">
                            <label id="2C" for="question-2-answers-C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-2-answers" id="question-2-answers-D" value="D">
                            <label id="2D" for="question-2-answers-D"></label>
                        </div>

                        <button type="button" id="submit-question-2" onclick="submitAnswer(2,'question-2-answers')">Submit</button>

                    </div>


                    <input class="title" id="toggle3" type="checkbox"><label id="question3" class="highlight" for="toggle3"> </label>

                    <div class="card" id="slider3">

                        <div>
                            <input type="radio" name="question-3-answers" id="question-3-answers-A" value="A">
                            <label id="3A" for="question-3-answers-A"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-3-answers" id="question-3-answers-B" value="B">
                            <label id="3B" for="question-3-answers-B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-3-answers" id="question-3-answers-C" value="C">
                            <label id="3C" for="question-3-answers-C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-3-answers" id="question-3-answers-D" value="D">
                            <label id="3D" for="question-3-answers-D"></label>
                        </div>

                        <button type="button" id="submit-question-3" onclick="submitAnswer(3,'question-3-answers')">Submit</button>

                    </div>

                    <input class="title" id="toggle4" type="checkbox"><label id="question4" class="highlight" for="toggle4"></label>

                    <div class="card" id="slider4">

                        <div>
                            <input type="radio" name="question-4-answers" id="question-4-answers-A" value="A">
                            <label id="4A" for="question-4-answers-A"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-4-answers" id="question-4-answers-B" value="B">
                            <label id="4B" for="question-4-answers-B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-4-answers" id="question-4-answers-C" value="C">
                            <label id="4C" for="question-4-answers-C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-4-answers" id="question-4-answers-D" value="D">
                            <label id="4D" for="question-4-answers-D"></label>
                        </div>

                        <button type="button" id="submit-question-4" onclick="submitAnswer(4,'question-4-answers')">Submit</button>

                    </div>

                    <input class="title" id="toggle5" type="checkbox"><label id="question5" class="highlight" for="toggle5"></label>

                    <div class="card" id="slider5">

                        <div>
                            <input type="radio" name="question-5-answers" id="question-5-answers-A" value="A">
                            <label id="5A" for="question-5-answers-A"> </label>
                        </div>
                        <div>
                            <input type="radio" name="question-5-answers" id="question-5-answers-B" value="B">
                            <label id="5B" for="question-5-answers-B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-5-answers" id="question-5-answers-C" value="C">
                            <label id="5C" for="question-5-answers-C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-5-answers" id="question-5-answers-D" value="D">
                            <label id="5D" for="question-5-answers-D"></label>
                        </div>

                        <button type="button" id="submit-question-5" onclick="submitAnswer(5,'question-5-answers')">Submit</button>

                    </div>

                    <input class="title" id="toggle6" type="checkbox"><label id="question6" class="highlight" for="toggle6"> </label>

                    <div class="card" id="slider6">

                        <div>
                            <input type="radio" name="question-6-answers" id="question-6-answers-A" value="A">
                            <label id="6A" for="question-6-answers-A"> </label>
                        </div>
                        <div>
                            <input type="radio" name="question-6-answers" id="question-6-answers-B" value="B">
                            <label id="6B" for="question-6-answers-B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-6-answers" id="question-6-answers-C" value="C">
                            <label id="6C" for="question-6-answers-C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-6-answers" id="question-6-answers-D" value="D">
                            <label id="6D" for="question-6-answers-D"></label>
                        </div>

                        <button type="button" id="submit-question-6" onclick="submitAnswer(6,'question-6-answers')">Submit</button>

                    </div>


                    <input class="title" id="toggle7" type="checkbox"><label id="question7" class="highlight" for="toggle7"> </label>

                    <div class="card" id="slider7">

                        <div>
                            <input type="radio" name="question-7-answers" id="question-7-answers-A" value="A">
                            <label id="7A" for="question-7-answers-A"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-7-answers" id="question-7-answers-B" value="B">
                            <label id="7B" for="question-7-answers-B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-7-answers" id="question-7-answers-C" value="C">
                            <label id="7C" for="question-7-answers-C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-7-answers" id="question-7-answers-D" value="D">
                            <label id="7D" for="question-7-answers-D"></label>
                        </div>

                        <button type="button" id="submit-question-7" onclick="submitAnswer(7,'question-7-answers')">Submit</button>

                    </div>


                    <input class="title" id="toggle8" type="checkbox"><label id="question8" class="highlight" for="toggle8"></label>

                    <div class="card" id="slider8">

                        <div>
                            <input type="radio" name="question-8-answers" id="question-8-answers-A" value="A">
                            <label id="8A" for="question-8-answers-A"> </label>
                        </div>
                        <div>
                            <input type="radio" name="question-8-answers" id="question-8-answers-B" value="B">
                            <label id="8B" for="question-8-answers-B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-8-answers" id="question-8-answers-C" value="C">
                            <label id="8C" for="question-8-answers-C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-8-answers" id="question-8-answers-D" value="D">
                            <label id="8D" for="question-8-answers-D"></label>
                        </div>

                        <button type="button" id="submit-question-8" onclick="submitAnswer(8,'question-8-answers')">Submit</button>

                    </div>

                    <h2 class="title-levels">HTML & CSS exercises for intermediates</h2>


                    <input class="title" id="toggle9" type="checkbox"><label id="question9" class="highlight" for="toggle9"></label>

                    <div class="card" id="slider9">

                        <div>
                            <input type="radio" name="question-9-answers" id="question-9-answers-A" value="A">
                            <label id="9A" for="question-9-answers-A"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-9-answers" id="question-9-answers-B" value="B">
                            <label id="9B" for="question-9-answers-B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-9-answers" id="question-9-answers-C" value="C">
                            <label id="9C" for="question-9-answers-C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-9-answers" id="question-9-answers-D" value="D">
                            <label id="9D" for="question-9-answers-D"></label>
                        </div>

                        <button type="button" id="submit-question-9" onclick="submitAnswer(9,'question-9-answers')">Submit</button>

                    </div>

                    <input class="title" id="toggle10" type="checkbox"><label id="question10" class="highlight" for="toggle10"></label>

                    <div class="card" id="slider10">

                        <div>
                            <input type="radio" name="question-10-answers" id="question-10-answers-A" value="A">
                            <label id="10A" for="question-10-answers-A"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-10-answers" id="question-10-answers-B" value="B">
                            <label id="10B" for="question-10-answers-B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-10-answers" id="question-10-answers-C" value="C">
                            <label id="10C" for="question-10-answers-C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-10-answers" id="question-10-answers-D" value="D">
                            <label id="10D" for="question-10-answers-D"></label>
                        </div>

                        <button type="button" id="submit-question-10" onclick="submitAnswer(10,'question-10-answers')">Submit</button>

                    </div>



                    <input class="title" id="toggle11" type="checkbox"><label id="question11" class="highlight" for="toggle11"></label>

                    <div class="card" id="slider11">

                        <div>
                            <input type="radio" name="question-11-answers" id="question-11-answers-A" value="A">
                            <label id="11A" for="question-11-answers-A"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-11-answers" id="question-11-answers-B" value="B">
                            <label id="11B" for="question-11-answers-B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-11-answers" id="question-11-answers-C" value="C">
                            <label id="11C" for="question-11-answers-C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-11-answers" id="question-11-answers-D" value="D">
                            <label id="11D" for="question-11-answers-D"></label>
                        </div>

                        <button type="button" id="submit-question-11" onclick="submitAnswer(11,'question-11-answers')">Submit</button>

                    </div>




                    <input class="title" id="toggle12" type="checkbox"><label id="question12" class="highlight" for="toggle12"></label>

                    <div class="card" id="slider12">

                        <div>
                            <input type="radio" name="question-12-answers" id="question-12-answers-A" value="A">
                            <label id="12A" for="question-8-answers-A"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-12-answers" id="question-12-answers-B" value="B">
                            <label id="12B" for="question-12-answers-B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-12-answers" id="question-12-answers-C" value="C">
                            <label id="12C" for="question-8-answers-C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-12-answers" id="question-12-answers-D" value="D">
                            <label id="12D" for="question-12-answers-D"></label>
                        </div>

                        <button type="button" id="submit-question-12" onclick="submitAnswer(12,'question-12-answers')">Submit</button>

                    </div>


                    <input class="title" id="toggle13" type="checkbox"><label id="question13" class="highlight" for="toggle13"></label>

                    <div class="card" id="slider13">

                        <div>
                            <input type="radio" name="question-13-answers" id="question-13-answers-A" value="A">
                            <label id="13A" for="question-13-answers-A"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-13-answers" id="question-13-answers-B" value="B">
                            <label id="13B" for="question-13-answers-B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-13-answers" id="question-13-answers-C" value="C">
                            <label id="13C" for="question-13-answers-C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-13-answers" id="question-13-answers-D" value="D">
                            <label id="13D" for="question-13-answers-D"></label>
                        </div>

                        <button type="button" id="submit-question-13" onclick="submitAnswer(13,'question-13-answers')">Submit</button>

                    </div>



                    <input class="title" id="toggle14" type="checkbox"><label id="question14" class="highlight" for="toggle14"></label>

                    <div class="card" id="slider14">

                        <div>
                            <input type="radio" name="question-14-answers" id="question-14-answers-A" value="A">
                            <label id="14A" for="question-8-answers-A"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-14-answers" id="question-14-answers-B" value="B">
                            <label id="14B" for="question-8-answers-B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-14-answers" id="question-14-answers-C" value="C">
                            <label id="14C" for="question-8-answers-C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-14-answers" id="question-14-answers-D" value="D">
                            <label id="14D" for="question-14-answers-D"></label>
                        </div>

                        <button type="button" id="submit-question-14" onclick="submitAnswer(14,'question-14-answers')">Submit</button>

                    </div>


                    <input class="title" id="toggle15" type="checkbox"><label id="question15" class="highlight" for="toggle15"> </label>

                    <div class="card" id="slider15">

                        <div>
                            <input type="radio" name="question-15-answers" id="question-15-answers-A" value="A">
                            <label id="15A" for="question-15-answers-A"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-15-answers" id="question-15-answers-B" value="B">
                            <label id="15B" for="question-15-answers-B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-15-answers" id="question-15-answers-C" value="C">
                            <label id="15C" for="question-15-answers-C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-15-answers" id="question-15-answers-D" value="D">
                            <label id="15D" for="question-15-answers-D"></label>
                        </div>

                        <button type="button" id="submit-question-15" onclick="submitAnswer(15,'question-15-answers')">Submit</button>

                    </div>

                    <input class="title" id="toggle16" type="checkbox"><label id="question16" class="highlight" for="toggle16"></label>

                    <div class="card" id="slider16">

                        <div>
                            <input type="radio" name="question-16-answers" id="question-16-answers-A" value="A">
                            <label id="16A" for="question-16-answers-A"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-16-answers" id="question-16-answers-B" value="B">
                            <label id="16B" for="question-16-answers-B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-16-answers" id="question-16-answers-C" value="C">
                            <label id="16C" for="question-16-answers-C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-16-answers" id="question-16-answers-D" value="D">
                            <label id="16D" for="question-16-answers-D"></label>
                        </div>

                        <button type="button" id="submit-question-16" onclick="submitAnswer(16,'question-16-answers')">Submit</button>

                    </div>

                    <input class="title" id="toggle17" type="checkbox"><label id="question17" class="highlight" for="toggle17"> </label>

                    <div class="card" id="slider17">

                        <div>
                            <input type="radio" name="question-17-answers" id="question-17-answers-A" value="A">
                            <label id="17A" for="question-17-answers-A"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-17-answers" id="question-17-answers-B" value="B">
                            <label id="17B" for="question-17-answers-B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-17-answers" id="question-17-answers-C" value="C">
                            <label id="17C" for="question-17-answers-C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-17-answers" id="question-17-answers-D" value="D">
                            <label id="17D" for="question-17-answers-D"></label>
                        </div>

                        <button type="button" id="submit-question-17" onclick="submitAnswer(17,'question-17-answers')">Submit</button>

                    </div>

                    <h2 class="title-levels">HTML & CSS exercises for experts</h2>


                    <input class="title" id="toggle18" type="checkbox"><label id="question18" class="highlight" for="toggle18"></label>

                    <div class="card" id="slider18">

                        <div>
                            <input type="radio" name="question-18-answers" id="question-18-answers-A" value="A">
                            <label id="18A" for="question-18-answers-A"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-18-answers" id="question-18-answers-B" value="B">
                            <label id="18B" for="question-18-answers-B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-18-answers" id="question-18-answers-C" value="C">
                            <label id="18C" for="question-18-answers-C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-18-answers" id="question-18-answers-D" value="D">
                            <label id="18D" for="question-18-answers-D"></label>
                        </div>

                        <button type="button" id="submit-question-18" onclick="submitAnswer(18,'question-18-answers')">Submit</button>

                    </div>



                    <input class="title" id="toggle19" type="checkbox"><label id="question19" class="highlight" for="toggle19"></label> </label>

                    <div class="card" id="slider19">

                        <div>
                            <input type="radio" name="question-19-answers" id="question-19-answers-A" value="A">
                            <label id="19A" for="question-19-answers-A"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-19-answers" id="question-19-answers-B" value="B">
                            <label id="19B" for="question-19-answers-B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-19-answers" id="question-19-answers-C" value="C">
                            <label id="19C" for="question-19-answers-C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-19-answers" id="question-19-answers-D" value="D">
                            <label id="19D" for="question-19-answers-D"></label>
                        </div>

                        <button type="button" id="submit-question-19" onclick="submitAnswer(19,'question-19-answers')">Submit</button>

                    </div>

                    <input class="title" id="toggle20" type="checkbox"><label id="question20" class="highlight" for="toggle20"> </label>

                    <div class="card" id="slider20">

                        <div>
                            <input type="radio" name="question-20-answers" id="question-20-answers-A" value="A">
                            <label id="20A" for="question-20-answers-A"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-20-answers" id="question-20-answers-B" value="B">
                            <label id="20B" for="question-20-answers-B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-20-answers" id="question-20-answers-C" value="C">
                            <label id="20C" for="question-20-answers-C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-20-answers" id="question-20-answers-D" value="D">
                            <label id="20D" for="question-20-answers-D"></label>
                        </div>

                        <button type="button" id="submit-question-20" onclick="submitAnswer(20,'question-20-answers')">Submit</button>

                    </div>

                    <input class="title" id="toggle21" type="checkbox"><label id="question21" class="highlight" for="toggle21"></label>

                    <div class="card" id="slider21">

                        <div>
                            <input type="radio" name="question-21-answers" id="question-21-answers-A" value="A">
                            <label id="21A" for="question-21-answers-A"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-21-answers" id="question-21-answers-B" value="B">
                            <label id="21B" for="question-21-answers-B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-21-answers" id="question-21-answers-C" value="C">
                            <label id="21C" for="question-21-answers-C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-21-answers" id="question-21-answers-D" value="D">
                            <label id="21D" for="question-21-answers-D"></label>
                        </div>

                        <button type="button" id="submit-question-21" onclick="submitAnswer(21,'question-21-answers')">Submit</button>

                    </div>

                    <input class="title" id="toggle22" type="checkbox"><label id="question22" class="highlight" for="toggle22"></label>

                    <div class="card" id="slider22">

                        <div>
                            <input type="radio" name="question-22-answers" id="question-22-answers-A" value="A">
                            <label id="22A" for="question-22-answers-A"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-22-answers" id="question-22-answers-B" value="B">
                            <label id="22B" for="question-22-answers-B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-22-answers" id="question-22-answers-C" value="C">
                            <label id="22C" for="question-22-answers-C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-22-answers" id="question-22-answers-D" value="D">
                            <label id="22D" for="question-22-answers-D"></label>
                        </div>

                        <button type="button" id="submit-question-22" onclick="submitAnswer(22,'question-22-answers')">Submit</button>

                    </div>

                    <input class="title" id="toggle23" type="checkbox"><label id="question23" class="highlight" for="toggle23"> </label>

                    <div class="card" id="slider23">

                        <div>
                            <input type="radio" name="question-23-answers" id="question-23-answers-A" value="A">
                            <label id="23A" for="question-23-answers-A"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-23-answers" id="question-23-answers-B" value="B">
                            <label id="23B" for="question-23-answers-B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-23-answers" id="question-23-answers-C" value="C">
                            <label id="23C" for="question-23-answers-C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-23-answers" id="question-23-answers-D" value="D">
                            <label id="23D" for="question-23-answers-D"></label>
                        </div>

                        <button type="button" id="submit-question-23" onclick="submitAnswer(23,'question-23-answers')">Submit</button>

                    </div>


                    <input class="title" id="toggle24" type="checkbox"><label id="question24" class="highlight" for="toggle24"></label>

                    <div class="card" id="slider24">

                        <div>
                            <input type="radio" name="question-24-answers" id="question-24-answers-A" value="A">
                            <label id="24A" for="question-24-answers-A"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-24-answers" id="question-24-answers-B" value="B">
                            <label id="24B" for="question-24-answers-B"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-24-answers" id="question-24-answers-C" value="C">
                            <label id="24C" for="question-24-answers-C"></label>
                        </div>
                        <div>
                            <input type="radio" name="question-24-answers" id="question-24-answers-D" value="D">
                            <label id="24D" for="question-24-answers-D"></label>
                        </div>

                        <button type="button" id="submit-question-24" onclick="submitAnswer(24,'question-24-answers')">Submit</button>

                    </div>

                </div>



            </section>
        </main>
        <footer class="footer">
            <div class="conatiner">
                <div class="row">
                    <div class="footer-col">
                        <a class="logo">
                            <img src="../resources/logo.svg" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="footer-col">
                        <h3> Support </h3>
                        <ul>
                            <li><a href="../Footer-pages/FAQ.html" id="questions-btn"> FAQ </a></li>
                            <li> <a href="../Footer-pages/FAQ.html" id="about-btn"> About us </a></li>
                            <li><a href="../raport.html" id="report-btn"> Report </a></li>
                            <li> <a href="../Footer-pages/privacy.html" id="privacy-btn"> Privacy policy </a></li>
                            <li><a href="../Footer-pages/terms.html" id="terms-btn"> Terms of Service </a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h3> Follow </h3>
                        <ul>
                            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i> Facebook </a></li>
                            <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> Instagram </a>
                            </li>
                            <li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i> Youtube </a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="footer-copyright">
                        <span> © 2021 LeHS. All rights reserved. </span>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../Navbar&footer/script.js"></script>
    <script src="./practice.js"></script>
    <script src="../user.js"></script>
</body>

</html>