<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn HTML&CSS</title>
    <link rel="stylesheet" href="./forgot.css">
</head>

<body>
    <div class="box">
        <div class="close">
                <button onclick="location.href='./login.html'">X</button>
        </div>
    <div class="container">
        <div class="text">Enter your email address:</div>
        <form name="signup_form" action="#">
            <div class="data">
                <input id="email" type="text" value="" required>
            </div>
            <div class="btn">
                <button id="reset_btn" onclick="reset_function();">reset password</button>
            </div>
            <div id="reset_msg" class="reset-message">A new password has been generated and sent to your email address.</div>
            <script>
                        function reset_function(){
                            if(document.getElementById("email").value.length != 0){
                            document.getElementById("reset_msg").style.display = "block"; 
                            setTimeout(function(){location.href = "./login.html";},3500);
                            }
                        }
            </script>
        </form>
    </div>
</div>
</body>

</html>