<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn HTML&CSS</title>
    <!-- <link rel="shortcut icon" href="#"> -->
    <link rel="stylesheet" href="./login.css">
</head>

<body>
    <div class="box">
        <div class="close">
            <button onclick="location.href='../presenting-page/presenting_page.html'">X</button>
        </div>
        <div class="container">
            <div class="text">Login Form</div>
            <form action="#">
                <div class="data">
                    <label>Username</label>
                    <input type="text" id="username" required>
                </div>
                <div class="data">
                    <label>Password</label>
                    <input type="password" id="password" required>
                </div>
                <div class="forgot-pass">
                    <a href="./forgot.html">Forgot Password?</a>
                </div>
                <div class="btn">
                    <button onclick="login()">login</button>
                </div>
                <div class="signup-link">Not a member? <a href="./signup.html">Signup now</a></div>
            </form>
            <div class="github">
                <p>- or -</p>
                <button id="github-btn"></button>
            </div>
        </div>
    </div>
    <script src="./login.js"></script>
</body>

</html>