<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="footerpages.css" >
    <link rel="stylesheet" href="../Navbar&footer/header.css">
    <link rel="stylesheet" href="../Navbar&footer/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>FAQ</title>
</head>
<body >
    <header class="header" onload="user_populate()">
        <div class="nav-container">
            <div class="nav-row">
                <div class="nav-start">
                    <div class="logo">
                        <img src="../resources/logo.svg"  alt="Logo">
                    </div>
                </div>
                <button type="button" class="nav-toggler active">
                    <span></span>
                </button>
                <div class="nav-right open" style="max-height: fit-content;">
                    <div class="nav-center">
                        <ul>
                            <li><a href="../Learn&Practice-pages/learn.html" > Learn </a></li>
                            <li><a href="../Learn&Practice-pages/practice.html"> Practice </a></li>
                            <li><a href="../Level-Map/map.html"> Play </a></li>
                            <li><a href="../leaderboard/leaderboard.html"> Leaderboard </a></li>
                        </ul>
                    </div>
                    <div class="nav-end" id="navend">
                        <a id="menu-btn" >
                            Username
                        </a>
                        <button type="button" class="nav-toggler-submenu active">
                            <span></span>
                        </button>
                        <div class="sub-menu open" id="submenu" style="max-height: fit-content;">
                            <ul>
                                <li><a id="exp"> Experience </a></li>
                                <li><a id="coins"> Coins </a></li>
                                <li><a href="../presenting-page/presenting_page.html" id="logout.btn"> Log out </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="one-scroll">
        <main>
    <section class="glass">
        <div class="content">
            <article>            
                <div class="card">
                    <div class="card-text">
                        <span>Frequently Asked Questions</span>
                        <h3>What is LeHS?</h3>
                        <p>LeHS is a platform where you can play coding games that teach you HTML and CSS. By registering a LeHS account, you can access free games, save your progress, and share your achievements.</p>
                        <h3>When is the next game being released?</h3>
                        <p>We’re constantly at work on new game titles. But given the nature of software development, it’s hard to give a firm date until we’re close to release. Follow us on Instagram or Facebook to stay up to date on news.</p>
                        <h3>Can I share my achievements with others?</h3>
                        <p>Yes, by default your profile is public, and displays your in-game progress and achievements. </p>
                        <h3>What are coins?</h3>
                        <p>Coins are the reward given for each correct answer in the Practice module. They can be used to buy hints for the Play part, or you can see some statistics based on them.</p>
                        <h3>What is XP?</h3>
                        <p>XP means experience. You can get the most experience by completing levels in the Play part. You need XP in order to advance with game levels. The general leaderboard is based on XP.</p>
                    
                    
                    </div>
                </div>
            </article>
        </div>
    </section>
</main>
<footer class="footer">
    <div class="conatiner">
        <div class="row">
            <div class="footer-col">
                <a class="logo" >
                    <img src="../resources/logo.svg" alt="Logo">
                </a>
            </div>
        </div>
        <div class="row">    
            <div class="footer-col">
                <h3> Support </h3>
                <ul>
                    <li><a  href="../Footer-pages/FAQ.html" id="questions-btn" > FAQ </a></li>                         
                    <li> <a href="../Footer-pages/FAQ.html" id="about-btn"> About us </a></li>  
                    <li><a  href="../raport.html" id="report-btn" > Report </a></li>                                                                                                                            
                    <li> <a  href="../Footer-pages/privacy.html" id="privacy-btn"> Privacy policy </a></li>                        
                    <li><a  href="../Footer-pages/terms.html" id="terms-btn"> Terms of Service </a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h3> Follow </h3>
                    <ul>
                        <li><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i> Facebook </a></li>
                        <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> Instagram </a></li>
                        <li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i> Youtube </a></li>
                    </ul>    
            </div>
        </div>
        <div class="row">
            <div class="footer-copyright">
                <span> © 2021 LeHS. All rights reserved. </span>
            </div>
        </div>
    </div>                
</footer>

</div>
<script src="../Navbar&footer/script.js"></script>
<script src="../user.js"></script>
</body>
</html>