:root{
    --black:#2C2B30;
    --gray:#4f4f51;
    --white:#d6d6d6;
    --light-pink:#f2c4ce;
    --pink:#f58f7c;
    --blue:#2aa1ff;

}
html,body{
    width:100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    position: absolute;
    overflow: hidden;
}

header{
    height:10%;
    background-color: var(--black);
}
.navbar-main-page {
    height: 10%;
    width: 100%;
    position: fixed;
    display: inline-block; 
  }
.logo {
    height: 50px;
    width: 50px;
    margin-right: 100px;
    float:left;
    position: relative;
    display: inline;
    cursor: pointer;
}

.left-side-navbar{
    height:100%;
    float:left;
    margin-left: 1%;
    position: relative;
    display: flex;
    align-items: center;

}
.navbar-buttons{
    float:left;
    position: relative;
    display: inline;
}
.authentification-navbar{
    height: 100%;
    float: right;
    display: flex;
    position: relative;
    align-items: center;

 }
 
  .navbar-buttons a,.responsive a {

    display: inline-block;
    color:var(--light-pink);
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
  }
  .navbar-buttons a:hover, .responsive a:hover{
    background: var(--pink);
    border-radius: 3px;
 }
  .authentification-navbar a{
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
  }
  #login-btn{
    color:var(--blue);
}
#login-btn:hover{
    color:var(--pink);
    background: var(--blue);
    border-radius: 3px;
}
  #signup-btn{
      color:var(--pink);
  }
  #signup-btn:hover{
    color:var(--blue);
    background: var(--pink);
    border-radius: 3px;
}
#submenu-btn{
    background-image: url(../resources/submenu.svg);
    display: none;
}
#submenu{
    display: none;
}
.responsive{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    float: none;
    width: 30%;
    height: 200px;
    background-color: var(--black);
    align-self: center;
    padding-top: 35px; 
}
.responsive a{
    text-align: center;
    height: 30px;
}
  .one-scroll{
    overflow-y: scroll;
    width: 100%;
    height: 90%;
  }
  main{
      width: 100%;
      height: auto;    
  }
  footer{
      width: 100%;
      height: 22%;
      background-color: #2C2B30;

  }
.main-presenting{
    width: 100%;
    height: 1030px;
    background-color: #4f4f51;
}
.slider{
max-height: 55%;
}
.container-text{
    position: relative;
    margin-top: 0px;
}

.main-title{
    position: relative;
    display: flex;
    justify-content:center;
    color: var(--pink);
    font-size: 100px;
    text-align: center;
    font-weight: bold;
}
h1{
    margin-block-end: 0px;
}
p{
    margin-block-start: 0px;
}
.main-subtitle{
    position: relative;
    display: flex;
    justify-content:center;
    color:var(--light-pink);
    font-size: 50px;
    text-align: center;
    font-style: italic;
}
.blocks-button{

    display: flex;
    justify-content: center;
    align-items: center;

}
.blocks-button a{
    width: 200px;
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
    color: var(--white);
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}
.blocks-button a:hover{
    font-style: italic;
    color: var(--pink);
    outline-style: solid;
    outline-color: var(--pink);
}

.block1,.block2{
    width: 100%;
    height: 630px;
    background-color: #4f4f51;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-side-block{
    height: inherit;
    position: relative;
    margin-left: 3%;
    align-items: center;
    width: 50%;
}
h2{
    font-size: 50px;
    color: var(--pink);
}
h3{
    font-size: 40px;
    color: var(--light-pink);
    margin-block-end: 0.5em;
}
h4{
    font-size: 40px;
    color: var(--light-pink);
    margin-block-end: 0.5em;
}
p1,p2{
    font-size: 20px;
    color: var(--white);
}

.margin-top{
    margin-top: 30px;
}
.margin-bottom{
    margin-bottom: 30px;
}
.right-side-block{
    height: inherit;
    width:50%;
    position: relative;
    align-items: center;
}

.presenting-image{
    height: 100%;
    width: 100%;
}
.block3{
    width: 100%;
    height: 630px;
    background-image: url(../resources/background.svg);
    background-repeat: no-repeat;
    background-color: var(--blue);
    background-position: center;
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}
.start-btn{

    display: flex;
    justify-content: center;
    align-items: center;

}
.start-btn a{
    width: 200px;
    height: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-pink);
    color: var(--gray);
    font-weight: bold;
    font-size: 25px;
}
.start-btn a:hover{
    font-style: italic;
    color: var(--pink);
    outline-style: solid;
    outline-color: var(--pink);
}
.space-between{
    width: 100%;
    height: 150px;
    background-color: #f58f7c;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-down-btn{
    height: 100px;
}

@media screen and (max-width: 850px){
    
    .block1,.block2{
        height: fit-content;
        display: block;
    }

    .left-side-block{
        width: 100%;
        margin-right: 3%;
    }
    .right-side-block{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    h2{
        margin-top: 0px;
    }
    h2,h3,h4,p1,p2{
        margin-right: 3%;
        margin-left: 3%;
    }
    .block3{
        align-items: flex-end;
        padding-bottom: 30px;
    }
    .navbar-buttons,#login-btn,#signup-btn{
        display: none;
    }
    #submenu-btn{
        display: block;
        position: relative;
        float: right;
        margin-right: 10px;
        height: 40px;
        width: 40px;
        margin-top:15px;
    }

}
@media screen and (max-width: 450px){
    .main-presenting{
        height: fit-content;
    }
    .main-title{
        font-size: 60px;
    }
    .main-subtitle{
        font-size: 30px;
    }
    .blocks-button a{
        width: 120px;
        height: 50px;
        font-size: 18px;
        margin-bottom: 50px;
    }
}
