* {
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: .005em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

.scroll{

    overflow-y: scroll;
    width: 100%;
    height: 90%;

}

main {
    min-height: 100vh; 
    background: linear-gradient(to right top, #4F4F51, #2C2B30);
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 900px;
    max-height: 1400px;
    margin-left: 4em;
    display: block;
    margin-bottom: 5em;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 50px 50px 20px;
    font-size: 13px;
    line-height: 1.42857;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.glass {
    min-height: 90vh;
    width: 90%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(245, 143, 124, 0.9));
    border-radius: 2rem;
}

.content {
	display: flex;
    margin-bottom: 16rem;
    margin: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card {
    position: relative;
    
    margin: 2rem 0rem;
    border-radius: 1rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    -webkit-transition: all .9s ease-in-out;
    transition: all .9s ease-in-out;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(245, 143, 124, 0.5));
    width: 95%;
    max-height: 0;
    overflow-y: hidden;
    margin-top: 30px;
}

p {
    padding: 2em 2em 2em 2em;
    display: block;
}

.title {
    display: none;
}

.highlight {
    transition: all 0.2s linear;
}

.highlight:hover {
    color: rgba(255, 255, 255, 0.5);
}

.title-page {
    font-weight: 900;
    font-size: xx-large;
    margin: 0 0 3em;
}

.title-levels {
    font-weight: 900;
    font-size: x-large;
    margin: 0 0 2em;
}

#toggle:checked~#slider {
    max-height: 1500px;
}

#toggle2:checked~#slider2 {
    max-height: 5000px;
}

#toggle3:checked~#slider3 {
    max-height: 5000px;
}

#toggle4:checked~#slider4 {
    max-height: 5000px;
}

#toggle5:checked~#slider5 {
    max-height: 50000px;
}

#toggle6:checked~#slider6 {
    max-height: 50000px;
}

#toggle7:checked~#slider7 {
    max-height: 50000px;
}

#toggle8:checked~#slider8 {
    max-height: 50000px;
}

#toggle9:checked~#slider9 {
    max-height: 50000px;
}

#toggle10:checked~#slider10 {
    max-height: 50000px;
}

#toggle11:checked~#slider11 {
    max-height: 50000px;
}

#toggle12:checked~#slider12 {
    max-height: 50000px;
}

#toggle13:checked~#slider13 {
    max-height: 50000px;
}

#toggle14:checked~#slider14 {
    max-height: 50000px;
}

@media (pointer:coarse) {
    .highlight:hover {
        color: black;
    }
}

@media screen and (max-width: 830px) {
    img {
        max-width: 1000px;
        max-height: 1000px;
        margin-left: 1em;
        margin-bottom: 1em;
        margin-right: 1em;
    }
    .content {
        margin-bottom: 16rem;
        margin: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    p {
        padding: 0.5em 0.5em 0.5em 0.5em;
    }
    .glass {
       
        min-height: 100vh;
        width: 100%;
        border-radius: 0rem;
    }
    pre {
        margin: 20px -50px 20px 5px;
    }
}