:root{
    --black:#2C2B30;
    --gray:#4f4f51;
    --white:#d6d6d6;
    --light-pink:#f2c4ce;
    --pink:#f58f7c;
    --blue:#2aa1ff;

}
* {
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: .005em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}
html,body{
    width:100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
    position: absolute;
    overflow: hidden;
}
.one-scroll{
    overflow-y: scroll;
    width: 100%;
    height: 90%;
  }
  main{
      width: 100%;
      height: 600px;    
      background-color: var(--light-pink);
  }
.charts{
    display: flex;
    justify-content: space-between;
}
#rank{
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.difchart{
    height:400px;
    width:400px;
    margin-left:5vh;
}
.levelchart{
    height:500px;
    width:500px;
    margin-right:5vh;
    margin-top:10vh;
}
p{
    text-align: center;
    color: var(--black);
    margin-top:5vh;
    margin-bottom:5vh;
    
}
@media(max-width:1000px)
{
    main{
        height:fit-content;
    }
    .charts{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    #rank{
        width: 100%;
        text-align: center;
    }
    
    .difchart{
        height:400px;
        width:400px;
        margin-left:0vh;
    }
    .levelchart{
        height:400px;
        width:400px;
        margin-right:0vh;
        margin-top:10vh;
    }
    
}

@media(max-width:500px){
    .difchart{
        height:300px;
        width:300px;
        margin-left:0vh;
    }
    .levelchart{
        height:300px;
        width:300px;
        margin-right:0vh;
        margin-top:10vh;
    }
}