<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <title>Header</title>
</head>

<body>
    <header class="header">
        <div class="nav-container">
            <div class="nav-row">
                <div class="nav-start">
                    <div class="logo">
                        <img src="../resources/logo.svg"  alt="Logo">
                    </div>
                </div>
                <button type="button" class="nav-toggler active">
                    <span></span>
                </button>
                <div class="nav-right open" style="max-height: fit-content;">
                    <div class="nav-center">
                        <ul>
                            <li><a href="../Learn&Practice-pages/learn.html" > Learn </a></li>
                            <li><a href="../Learn&Practice-pages/practice.html"> Practice </a></li>
                            <li><a href="../Level-Map/map.html"> Play </a></li>
                            <li><a href="../leaderboard/leaderboard.html"> Leaderboard </a></li>
                        </ul>
                    </div>
                    <div class="nav-end" id="navend">
                        <a id="menu-btn" >
                            Username
                        </a>
                        <button type="button" class="nav-toggler-submenu active">
                            <span></span>
                        </button>
                        <div class="sub-menu open" id="submenu" style="max-height: fit-content;">
                            <ul>
                                <li><a id="exp"> Experience </a></li>
                                <li><a id="coins"> Coins </a></li>
                                <li><a href="../presenting-page/presenting_page.html" id="logout.btn"> Log out </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script src="./script.js"></script>
</body>

</html>